html
    head
        title Questionnaire
        link(rel="stylesheet", href="/css/style.css")
    body
        div.topnav
            a(href="/") Events
            a(href="/") Browse
            a(href="/") Your tickets
        if user
            h1 Welcome #{user.firstname} #{user.lastname}!
        
        a(href='/inscription/') Inscription
        br
        a(href='/login/') Connexion


        for post in posts
            post
                a(href='/post/' + post.id)
                    h1 #{post.title}
        

                
        form(method="POST")
            p
                strong Create a new post
            label(for="title") Title
            br
            input(type="text", id="title", name="title", placeholder="Post Title")
            br
            label(for="question") Question
            textarea(id="question", name="question", placeholder="Quesiton")
            button(type="submit") Valider