html
    head
        title Connexion
        link(rel="stylesheet", href="/css/style.css")
    body
        block content
            div.row
                div.col.s5
                    h3 Welcome back! Please login.
                        form(method="POST")
                            div
                                label(for="email") Sign in with your e-mail address
                                br
                                input(type="text", id="email", name="email", placeholder="Email")
                            div
                                label(for="mdp") Mot de passe
                                br
                                input(type="text", id="mdp", name="password", placeholder="Mot de passe")
                            br
                            button(type="submit") Sign in to Dashboard
                            p Login via social networks

                            a(href='/inscription') Don't have an account yet ? Get Started
                            a(href='/resetpsw') Forgot Password ?